extends layout

block content
    h1 Vlad
    p Hello, my name is Vlad
    ul
      li I am a student that likes #{likes}
      li And want to make one as well
      li I am #{age} years old
      li Thats probably it