extends layout

block content
    h1 Vlad's Dad whos name is Vladimir
    p This is my dad, Vlad
    ul
      li He is a dad who likes #{likes}
      li Also he is good with banking
      li He is #{age} years old
      li Love my dad