extends layout

block content
    h1 Vlad's Mum, Tatyana
    p This is my mother!
    ul
      li She really loves #{likes}
      li She does work with my dad
      li Here age is #{age} years old
      li I love my mum