extends layout

block content
    h1 Vlad's sister, Masha
    p Heeeey, and here is my little sister - Masha!
    ul
      li She is a huge fan of #{likes}
      li She is a great student! Full A marks 6 years in a row
      li She is #{age} years old
      li I love her really much!