extends ../layout

block content
    h1 All Articles

    a(href="/articles/create") Create a new Article
    ul
        each article in articles 
            li
                a(href=`/articles/${article._id}`)=article.title